[submodule "SPICE_models"]
	path = SPICE_models
	url = git@github.com:qnngroup/SPICE_models.git
[submodule "snspd-spice"]
	path = snspd-spice
	url = git@github.com:qnngroup/snspd-spice.git
[submodule "equipment-spice"]
	path = equipment-spice
	url = git@github.com:qnngroup/equipment-spice.git
[submodule "ntron-spice"]
	path = ntron-spice
	url = git@github.com:qnngroup/ntron-spice
